/* Estilos generales */
body {
    background-color: black;
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-clara {
    color: antiquewhite;
    background-color: #8F75C1;
}

.seccion-oscura {
    color: antiquewhite;
    background-color: #2E144E;
}

.hero, .notas, .terapias, .contacto {
    padding: 40px;
}

/* Barra de navegación */

.navbar {
    padding: 0.5rem;
    font-weight: 600;
    color: antiquewhite;
    background-color: rgba(143, 117, 193, 0.7);
}

.brand {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    color: antiquewhite;
}

.navbar-collapse {
    align-items: center;
    justify-content: end;
}

.nav-item .nav-link {
    color: antiquewhite;
}

.nav-link:hover {
    color: #2E144E;
}

/* Notas */

.notas .columna1 {
    padding: 20px;
    border: 2px solid #2E144E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.notas .columna1:hover {
    color: antiquewhite;
    background-color: #2E144E;
    border-color: #8F75C1;
}

/* Terapias */


.terapias .columna2 {
    padding: 20px;
    border: 2px solid #8F75C1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

/* Galería */

.gallery-container {
    width: 90%;
    margin: 40px auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 40px;
}

.gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contacto */

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid #8F75C1;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: #8F75C1;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: antiquewhite;
    border: 2px solid #2E144E;
}

.iconos-redes-sociales a:hover i {
    color: #2E144E
}

.derechos-de-autor {
    font-size: 15px;
    color: #2E144E;
    padding: 20px;
}

<<<<<<< HEAD
#pablomgdev {
    color: #2E144E;
    text-decoration: none;
}

#pablomgdev:hover {
    color: white;
=======
/* Boton arriba */

#boton-arriba {
    display: none;
    position: fixed;
    bottom: 1rem;
    border-top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: antiquewhite;
    cursor: pointer;
}

#boton-arriba:hover {
    color: burlywood;
}

/* Diseño responsivo */

@media (width >= 768px) {
    .divHero {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .imgHero {
        margin-left: 1rem;
    }
>>>>>>> 637be4a75a39f61ef5974b0fd7d7e725cb91c6bf
}